<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication.classscheduleapplication"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/launch_icon"
        android:label="ClassSchedule"
        android:roundIcon="@drawable/launch_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassScheduleApplication"
        tools:targetApi="31">

        <activity
            android:name=".ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.ClassScheduleApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClassDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.ClassScheduleApplication" />
        <activity
            android:name=".EditClassActivity"
            android:exported="false"
            android:theme="@style/Theme.ClassScheduleApplication" />
        <activity
            android:name=".AddClassActivity"
            android:exported="false"
            android:theme="@style/Theme.ClassScheduleApplication" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ClassScheduleApplication" />

        <!-- Broadcast Receivers -->

        <receiver android:name=".ReminderReceiver"
            android:exported="false">
        </receiver>

        <receiver android:name=".ClassStartReceiver" android:exported="true"/>

    </application>

</manifest>
